$font-stack: Roboto;
$board-color: #4b535c;
  
body {
  text-align: center;
  font-family: $font-stack;
}


.flex-container {
  display: flex;
  justify-content: center;
  background-color: #4b535c;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 850px;
  margin: 0 auto;
}

.flex-container>div {
  width: 10px;
  height: 10px;
  border: solid 1px #505963;
  text-align: center;
}

.Xcolor {
  background: #E55EA2;
}

.Ocolor {
  background: $board-color;
}